* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background: #070707;
  color: #ffffff;
  font-family: "Playfair", serif;
  font-size: 24px;
  font-weight: 400;
}

.container {
  max-width: 1495px;
  padding: 0 45px;
  margin: 0 auto;
}

.header {
  margin-top: 45px;
  margin-bottom: 330px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  margin-bottom: 75px;
}

.header-nav__link {
  font-size: 24px;
  font-weight: 300;
  color: #b6b6b6;
  font-family: "Oswald", serif;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.header-nav__link.active {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.header-nav__link:hover {
  color: #ffffff;
}

.header-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_title {
  font-size: 120px;
  font-weight: 900;
  max-width: 639px;
  text-align: center;
  line-height: 120px;
  margin-bottom: 20px;
}

.header_text {
  font-weight: 400;
  font-size: 21px;
  color: #c5c5c5;
  margin-bottom: 47px;
}

.header-btn {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px #ffffff;
          box-shadow: 0px 0px 10px 0px #ffffff;
  padding: 14px 79px;
  border-radius: 20px;
}
.header-btn:hover, .header-btn:active {
  -webkit-box-shadow: 0px 0px 15px 0px #ffffff;
          box-shadow: 0px 0px 15px 0px #ffffff;
}
.header-btn a {
  color: #000000;
  font-weight: 800;
  font-size: 32px;
}

.img-right,
.img-left {
  position: absolute;
  top: 65px;
}

.img-right {
  right: 135px;
}

.img-left {
  left: 135px;
}

.menu {
  display: none;
}

@media (max-width: 1750px) {
  .img-left {
    position: relative;
    top: -610px;
    left: 0;
    z-index: -1;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img-right {
    display: none;
  }
  .about-me {
    margin-top: -800px;
  }
}
@media (max-width: 780px) {
  .about-me {
    margin-top: -750px;
  }
  .header {
    margin-top: 30px;
  }
  .header-nav {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .menu {
    display: block;
    width: 40px;
  }
  .header-nav__link {
    display: none;
  }
  .header_title {
    font-size: 58px;
    max-width: 250px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .header_text {
    font-weight: 400;
    font-size: 20px;
    color: #c5c5c5;
    margin-bottom: 30px;
    width: 350px;
    text-align: center;
  }
  .header-btn {
    -webkit-box-shadow: 0px 0px 5px 0px #ffffff;
            box-shadow: 0px 0px 5px 0px #ffffff;
    padding: 13px 45px;
  }
  .header-btn:hover, .header-btn:active {
    -webkit-box-shadow: 0px 0px 10px 0px #ffffff;
            box-shadow: 0px 0px 10px 0px #ffffff;
  }
  .header-btn a {
    color: #000000;
    font-weight: 800;
    font-size: 22px;
  }
  .img-left {
    top: -430px;
    width: 390px;
    left: 0;
  }
}
@media (max-width: 600px) {
  .about-me {
    margin-top: -580px;
  }
  .header-nav {
    margin-bottom: 75px;
  }
  .menu {
    width: 35px;
  }
  .header_title {
    font-size: 54px;
    line-height: 45px;
    margin-bottom: 35px;
  }
  .header_text {
    font-size: 24px;
    margin-bottom: 35px;
    width: 291px;
    text-align: center;
  }
  .header-btn {
    -webkit-box-shadow: 0px 0px 5px 0px #ffffff;
            box-shadow: 0px 0px 5px 0px #ffffff;
    padding: 12px 42px;
  }
  .header-btn:hover, .header-btn:active {
    -webkit-box-shadow: 0px 0px 10px 0px #ffffff;
            box-shadow: 0px 0px 10px 0px #ffffff;
  }
  .header-btn a {
    font-size: 24px;
  }
  .img-left {
    top: -400px;
    width: 300px;
  }
}
@media (max-width: 480px) {
  .about-me {
    margin-top: -550px;
  }
  .menu {
    width: 30px;
  }
  .header-nav {
    margin-bottom: 75px;
  }
  .header_title {
    font-size: 54px;
    max-width: 253px;
    line-height: 54px;
    margin-bottom: 25px;
  }
  .header_text {
    font-size: 24px;
    margin-bottom: 25px;
    width: 281px;
    text-align: center;
  }
  .header-btn {
    -webkit-box-shadow: 0px 0px 5px 0px #ffffff;
            box-shadow: 0px 0px 5px 0px #ffffff;
    padding: 8px 32px;
  }
  .header-btn:hover, .header-btn:active {
    -webkit-box-shadow: 0px 0px 10px 0px #ffffff;
            box-shadow: 0px 0px 10px 0px #ffffff;
  }
  .header-btn a {
    font-size: 24px;
  }
  .img-left {
    top: -385px;
    width: 250px;
  }
}
.burger-menu {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.no-scroll {
  overflow: hidden;
}

.burger-list {
  font-family: "Oswald", serif;
  padding: 0 0 0 30px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  height: 100vh;
  width: 50%;
  row-gap: 25px;
  background-color: #000000;
}
.burger-list a {
  color: #ffffff;
}
@media (max-width: 450px) {
  .burger-list {
    width: 65%;
    font-size: 20px;
  }
}

.hidden {
  display: none;
}

.tg {
  width: 30px;
}

@media (max-width: 780px) {
  .burger-menu {
    display: block;
    z-index: 3;
  }
}
.price-title {
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 100px;
}

.price-row {
  max-width: 855px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.border {
  border-bottom: 2px solid #ffffff;
}

.price-card {
  padding: 25px;
  padding-bottom: 25px;
}

.price-card__title {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 5px;
}

.price-card__text {
  font-size: 24px;
}

.price {
  color: #ff9696;
}

.price-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 14px 79px;
  background-color: #ffffff;
  border-radius: 20px;
}
.price-btn a {
  font-size: 32px;
  color: #000000;
}
.price-btn:hover, .price-btn:active {
  -webkit-box-shadow: 0px 0px 10px 0px #ffffff;
          box-shadow: 0px 0px 10px 0px #ffffff;
}

@media (max-width: 550px) {
  .price-btn {
    padding: 10px 30px;
  }
  .price-btn a {
    font-size: 22px;
  }
  .price-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .price-row {
    max-width: 320px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .border {
    border-bottom: 2px solid #ffffff;
  }
  .price-card {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .card {
    position: absolute;
    right: 0;
  }
  .price-card__title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 5px;
  }
  .price-card__text {
    font-size: 20px;
  }
  .container {
    padding: 0 10px;
  }
}
.footer {
  background-color: #020202;
  padding: 55px 149px;
  font-family: "Oswald", serif;
  font-weight: 100;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

.footer-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.footer-title {
  font-size: 20px;
  color: #969696;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}
.footer-text img {
  width: 23px;
}
.footer-text p {
  font-size: 22px;
}

@media (max-width: 780px) {
  .footer {
    padding: 55px;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 30px;
  }
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
  }
  .footer-el {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1px;
  }
  .footer-title {
    font-size: 18px;
    color: #969696;
  }
  .footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
  }
  .footer-text img {
    width: 19px;
  }
  .footer-text p {
    font-size: 20px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 1;
}