.swiper {
    max-width: 1000px;
    margin: 0 auto;
}


@media (max-width: 1024px) {
    .swiper {
        max-width: 700px;
    }
}


@media (max-width: 768px) {
    .swiper {
        max-width: 550px;
    }
}

@media (max-width: 550px) {
    .swiper {
        max-width: 350px;
    }
}