.price__title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 350px;
}

.price__content {
    box-shadow: 0px 0px 1px 0px var(--color-white);
    background-color: var(--color-black-2);
    padding: 40px 50px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.price__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

@media (max-width: 768px) {
    .price__title {
        margin-top: 30px;
        margin-bottom: 20px;
        width: 230px;
    }

    .price__content {
        padding: 20px 30px;
    }

    .price__list {
        row-gap: 30px;
    }
}

@media (max-width: 550px) {
    .price {
        margin-bottom: 80px;
    }

    .price__title {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 180px;
    }

    .price__content {
        padding: 15px 25px;
        margin-bottom: 20px;
    }

    .price__list {
        row-gap: 25px;
    }
}